.display-stats{
  background-color: #E3F0D9;
  height: 72vh;
  display: block;
  text-align: center;
  overflow-y: auto;
}

.display-btn{
  display: block;
  text-align: center;
  background-color: #E3F0D9;
}

.btn-stats:hover{
  background-color: #7bc143;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  background-color: #ffffff;
}


th, td{
  border: 1px solid black;
  text-align: center;

}

th.user{
  color: blue;
  min-width: 200px;
}

th.data{
  min-width: 100px;
}

.table-topics{
  overflow-x: scroll;
}

.btn-stats{
  margin: 2vh;
  background-color: #7bc143;
  width: 90%;
  align-items: center;
  color: #ffffff;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.2em;
}

.stats-data{
  display: block;
  text-align: center;
}

.progress-bar{
  width: 100%;
}

.progress {
    color: white;
    width:auto;
    margin-top: 0.5vh;
    text-align: right;
  }

  .statsBar{
    width: 80%;
    margin-left: 10%;
    background-color: #E3F0D9;
  }

.lightgreen{
  background-color: #E3F0D9;
}

.data-label{
  display: block;
  text-align: left;
  background-color: #ffffff;
  padding-left: 1vh;
  font-family: "Lucida Console", Monaco, monospace;
}

.display-data{
  background-color: #E3F0D9;
  height: 75vh;
  overflow-x:auto;
}

.fixed{
  position: absolute;
  width: 10em;
  left: 0;
  top: auto;
  min-width: 100px;
  min-height: 30px;
}

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  z-index: 1;
  border: 1px solid black;

}

tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  border: 1px solid black;
   box-shadow: 1px black;
}

thead th:first-child {
  left: 0;
  z-index: 2;
}
