.sessions, .subtopics{
    -ms-overflow-style: none;
}
.sessions::-webkit-scrollbar {
    display: none;
}
.subtopics::-webkit-scrollbar {
    display: none;
}
@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica.ttf');
}

.topic-btn{
  margin: 2% 3%;
  height: 5vh;
  background-color: #edeff2;
  color: #000000;
  border: none;
  font-family: "Helvetica";
  font-size: 0.7em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 1vw;
  padding-right: 1vw;
}

.topics-area{
  background-color: #ede2d5;
  overflow-y: auto;
  padding-left: 1vw;
}

.subtopics-area{
  background-color: #ede2d5;
  padding-left: 1vw;
  overflow-y: auto;
}

.sessions-area{
  background-color: #ede2d5;
  overflow-y: auto;
  padding-left: 1vw;
  height: 40vh !important;
}

button:focus{
  outline-color: #959595;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.topics-subtopics{
  height: 85vh;
  background-color: #ede2d5 !important;
  width: 100%;
}

.sessions{
  background-color: #ede2d5 !important;
  overflow-y: auto;
  height: 85vh !important;
  width: 100%;
}

.topics-div{
  background-color: #ede2d5;
  overflow-y: auto;
}

.subtopics-div{
  background-color: #ede2d5 !important;
  overflow-y: auto;
}

.subtopics{
  width: 100%;
  overflow-y: auto;
  background-color: #ede2d5 !important;
}

@media (min-width: 768px){
  .topic-btn{
    margin: 2% 1%;
    height: 7vh;
    background-color: #edeff2;
    color: #000000;
    border: none;
    font-family: "Helvetica";
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1vw;
  }
  .topics-area{
    overflow-y: auto;
    padding-left: 1vw;
  }
}
