.error{
  text-align: center;
  background-color: #ffffff;
  height: 80vh;
  padding-top: 30vh;
  color: red
}

.message{
  background-color: #ffffff;
  padding-bottom: 5vh;
  color: 'red';
  font-family: "Lucida Console", Monaco, monospace;
  font-style: bold;
}

.link{
  font-size: 1.2em;
  background-color: #ffffff;
}
