@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica.ttf');
}

.fblabel{
  font-size: 1.1em;
  font-family: "Helvetica";
  color: #000000;
  padding: 2vh;
  margin-left: 3vh;
  margin-right: 3vh;
  background-color: #e4dcd4;
}

.fbarea{
  background-color: #e4dcd4;
  height: 75vh;
}

.blank{
  margin-top: 5vh;
}

.white{
  background-color: #ffffff;
}

.fbtext{
  margin-left: 10%;
  width: 80%;
  height: 30vh;
  background-color: #ffffff;
  font-family: "Helvetica";
}

.fbsubmitbtn{
  font-size:24px;
  color: #ffffff;
  background-color: #959595;
  display: block;
  width: 100%;
  text-align: center;
  display: block;
  position: relative;
  height: auto;
  margin-top: 15%;
  margin-bottom: 0;
  font-family: "Helvetica";

}
