* {
  box-sizing: border-box;
  background-color: #ede2d5;
}
@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica.ttf');
}

.knowbotlogo{
  height: 7vh;
  width: auto;
  margin-right: 2vw;
  background-color: #ededed;

}
.logo-title{
  font-size: 1.2em;
  height: 30vh;
  margin-top: auto;
  margin-bottom: auto;
}

.headercontainer  {
  border: thin solid #d5d1ca;
  border-bottom: 0;
  border-radius: 1px;
  background-color: #ffffff;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.headercolor{
  background-color: #ededed !important;
}

.username{
  font-family: "Helvetica";
  font-size:1.1em;
  color: #000000;
  background-color: #ffffff;
  width:100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerfont {
  font-family: "Helvetica";
  font-size:1.2em;
  color: #000000;
  background-color: #ffffff;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width:100%;
  display: block;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.headerrow{
  display: block;
  text-align: left;
  background-color: #ffffff;
  padding-left: 2vw;

}

.white{
  background-color: #ededed !important;
}

.non-header{
  background-color: #ede2d5 !important;
  width: 100%;
}

.darktheme{
  background-color: #959595;
}
.black{
  background-color: #000000;
}
.header{
  background-color: #ffffff !important;
  display: block;
  text-align: center;
}
.ellipsislogo{
  padding-top: 1vh;
  width: 1.8vh;
  height: auto;
  background-color: #ededed;
}

.btndropdown{
  background-color: #ffffff;
  color: #000000;
  width:100%
}
.header-row{
  height: 10%;
  background-color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.clock-img{
  background-color: #ededed;
  height: 1.5em;
  padding-left: 5vw;
  padding-right: 1vw;
  text-align: left;
  padding-bottom: 0.5vh;
}
.timer{
  background-color: #ededed;
  text-align: left;
  font-size:1.2em;
  color: 0;
}

.info-text{
  font-family: "Helvetica";
  background-color: #ede2d5;
  color: #000000;
  font-size:1.3em;
  display: block;
  text-align: center;
  height: 12vh;
  padding-bottom: 2vh;
}

ul, li{
  padding-top: 1vh;
  background-color: #ffffff;
}

.start-button{
  font-size:1.2em;
  color: #959595;
  background-color: #ffffff;
  display: block;
  height: 6vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  font-family: "Helvetica";
  margin-bottom: 5px;
  border-radius: 25px;
  border-style: solid;
  border-color: #959595;
}

.display-row{
  width: 100%;
  height: 10vh;
}

.ellipsisbutton{
  padding-top: 0.5vh;
  padding-left: 1vh;
  height: auto;
  background-color:#ffffff;
  border: 0;
  position: relative;
  boxShadow: 'none'
}
.ellipsisbutton:hover{
  background-color:#ffffff;
}

.timer-row{
  background-color: #ededed;
  color: #868686 !important;
  font-family: "Helvetica";
  font-size: 1.1em;
  border: thin solid #d5d1ca;
  border-top: 0;
}

.user{
  color: #ffffff;
  font-family: "Helvetica";
  font-size: 1.1em;
  padding-left: 3vh;
}
.userheader{
  background-color: #ededed;
  color: #868686 !important;
  font-family: "Helvetica";
  font-size: 1.1em;
  padding-left: 3vh;
}

.clock-div{
  padding-top: 1vh;
}

.clock-time{
  padding-top: 1vh;
  display: block;
  text-align: left;
}
.kwykheader{
  background-color: #ffffff;
  position: relative;
  display: inline-block;
  padding-left: 1vw;
}

.sessionname{
  display: block;
  text-align: center;
  font-family: "Helvetica";
  font-size: 0.8em;
  background-color: #ededed;
  color: #868686;
}


.dropdown a:hover {
  text-decoration-line: none;
}

.ellipsismenu{
  font-family: "Helvetica";
  color: 0;
  font-size: 1em;
}

.userheader{
  font-family: "Helvetica";
  font-size:1em;
  font-weight: bold;
  color: 0 ;
  background-color: #ffffff;
  box-shadow: 0 1px 0px rgba(0,0,0,0.3);
}

@media (max-width: 500px){

  .headerfont {
    font-family: "Helvetica";
    font-size:1em;
    font-weight: bold;
    color: 0;
    background-color: #ffffff;
    padding-top: 1vh;
    width:100%;
    display: block;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  }
  .header{
    background-color: #ffffff;
    display: block;
    text-align: left;
  }
  .sessionname{
    display: block;
    text-align: center;
    font-family: "Helvetica";
    font-size: 1em;
  }
  .knowbotlogo{
    background-color: #ffffff;
    width: 10vw;
    height: auto;
    margin-right: 5vw;

  }
  .clock-img{
    background-color: #ededed;
    height: 1.5em;
    text-align: left;
    padding-bottom: 0.5vh;
  }

  .ellipsisbutton{
    padding-top: 3vh;
    height: auto;
    background-color:#ffffff !important;
    border: 0;
    width: 100%;
    color: 0 !important;
  }
  .ellipsisbutton:hover{
    background-color:#ffffff;
  }
  .kwykheader{
    background-color: #ffffff !important;
    position: relative;

  }
  .username{
    font-family: "Helvetica";
    font-size:1em;
    color: #000000;
    background-color: #ffffff;
    width:100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
