* {
  box-sizing: border-box;
  background-color: #edeff2;
}
@font-face {
  font-family: "Lucida Console";
  src: url('../fonts/LucidaConsoleRegular.ttf');
}

.knowbotlogo{
  height: 8vh;
  width: 8vh;
  padding: 1vh;
  margin-left: 2vw;
  margin-top: 2vh;
  background-color: #ffffff;
}

.headerfont {
  font-family: 'Montserrat Alternates';
  font-size:1.8em;
  font-weight: bold;
  color: #7bc143;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width:80%;
}

.white{
  background-color: #ffffff;
}

.green{
  background-color: #7bc143;
}

.ellipsislogo{
  padding-top: 1vh;
  width: 1.8vh;
  height: auto;
  background-color: #ffffff;
}

.header-row{
  height: 10%;
  background-color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.clock-img{
  background-color: #7bc143;
  height: 1.5em;
  display: block;
  padding-left: 30vw;
  padding-right: 2vw;
  text-align: right;
}
.timer{
  background-color: #7bc143;
  text-align: left;
  font-size:1.2em;
  color: #ffffff;
}

.info-text{
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #ffffff;
  color: #7bc143;
  font-size:1.3em;
  display: block;
  text-align: center;
  height: 12vh;
  padding-bottom: 2vh;
}

ul, li{
  padding-top: 1vh;
  background-color: #ffffff;
}

.start-button{
  font-size:1.5em;
  color: #ffffff;
  background-color: #7bc143;
  display: block;
  width: 100%;
  height: auto;
  bottom: 5%;
  position: relative;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
}

.display-row{
  width: 100%;
  height: 10vh;
}

.ellipsisbutton{
  padding-top: 0.5vh;
  padding-left: 1vh;
  height: auto;
  background-color:#ffffff;
  border: 0;
  boxShadow: 'none'
}
.ellipsisbutton:hover{
  background-color:#ffffff;
}

.timer-row{
  background-color: #7bc143;
  color: #ffffff;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.1em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 3vh;

}

.user{
  color: #ffffff;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.1em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 3vh;
}
.userheader{
  color: #ffffff;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.1em;
  padding-left: 3vh;
}

.clock-div{
  padding-top: 1vh;
}

.clock-time{
  padding-top: 1vh;
  display: block;
  text-align: left;
}
.kwykheader{
  display: block;
  text-align: center;
  background-color: #ffffff;

}

.sessionname{
  display: block;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.1em;
  background-color: #ffffff;
}
.ellipsismenu{
  font-family: "Lucida Console", Monaco, monospace;
  color: #7bc143;
  font-size: 1.2em;
}
@media (max-width: 500px){
  .headerfont {
    font-family: 'Montserrat Alternates';
    font-size:1.2em;
    font-weight: bold;
    color: #7bc143;
    text-align: center;
    padding-top: 1vh;
    width:70%;
  }
  .sessionname{
    display: block;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1em;
    background-color: #ffffff;
  }
  .knowbotlogo{
    height: 7vh;
    width: 7vh;
    padding: 1vh;
    background-color: #ffffff;
  }
}
