* {
  box-sizing: border-box;
  background-color: #e4dcd4;
}
@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica.ttf');
}

.knowbotlogo{
  height: 5vh;
  width: 5vh;
  margin-right: 2vw;
  background-color: #ededed;

}

.headercontainer  {
  border: thin solid #d5d1ca;
  border-bottom: 0;
  border-radius: 1px;
  background-color: #ededed;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.headercolor{
  background-color: #ededed !important;
}

.headerfont {
  font-family: "Helvetica";
  font-size:1.4em;
  color: #070707;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width:100%;
  display: block;
  text-align: center;
}

.white{
  background-color: #ededed !important;
}

.non-header{
  background-color: #e4dcd4 !important;
  width: 100%;
}

.darktheme{
  background-color: #959595;
}
.black{
  background-color: #000000;
}
.header{
  background-color: #ededed !important;
  display: block;
  text-align: center;
}
.ellipsislogo{
  padding-top: 1vh;
  width: 1.8vh;
  height: auto;
  background-color: #ededed;
}

.btndropdown{
  background-color: #ededed;
  color: #000000;
  width:100%
}
.header-row{
  height: 10%;
  background-color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.clock-img{
  background-color: #ededed;
  height: 1.5em;
  padding-left: 5vw;
  padding-right: 1vw;
  text-align: left;
  padding-bottom: 0.5vh;
}
.timer{
  background-color: #ededed;
  text-align: left;
  font-size:1.2em;
  color: 0;
}

.info-text{
  font-family: "Helvetica";
  background-color: #e4dcd4;
  color: #000000;
  font-size:1.3em;
  display: block;
  text-align: center;
  height: 12vh;
  padding-bottom: 2vh;
}

ul, li{
  padding-top: 1vh;
  background-color: #ffffff;
}

.start-button{
  font-size:1.5em;
  color: #ffffff;
  background-color: #959595;
  display: block;
  width: 100%;
  height: 6vh;
  position: relative;
  font-family: "Helvetica";
  font-weight: bold;
  margin-bottom: 0;
}

.display-row{
  width: 100%;
  height: 10vh;
}

.ellipsisbutton{
  padding-top: 0.5vh;
  padding-left: 1vh;
  height: auto;
  background-color:#ededed;
  border: 0;
  position: relative;
  boxShadow: 'none'
}
.ellipsisbutton:hover{
  background-color:#ededed;
}

.timer-row{
  background-color: #ededed;
  color: #868686 !important;
  font-family: "Helvetica";
  font-size: 1.1em;
  border: thin solid #d5d1ca;
  border-top: 0;
}

.user{
  color: #ffffff;
  font-family: "Helvetica";
  font-size: 1.1em;
  padding-left: 3vh;
}
.userheader{
  background-color: #ededed;
  color: #868686 !important;
  font-family: "Helvetica";
  font-size: 1.1em;
  padding-left: 3vh;
}

.clock-div{
  padding-top: 1vh;
}

.clock-time{
  padding-top: 1vh;
  display: block;
  text-align: left;
}
.kwykheader{
  background-color: #ededed;
  position: relative;
  display: inline-block;
  padding-left: 1vw;
}

.sessionname{
  display: block;
  text-align: center;
  font-family: "Helvetica";
  font-size: 0.8em;
  background-color: #ededed;
  color: #868686;
}
.ellipsismenu{
  font-family: "Helvetica";
  color: 0;
  font-size: 1em;
}
@media (max-width: 500px){
  .headerfont {
    font-family: "Helvetica";
    font-size:1.1em;
    font-weight: bold;
    color: 0;
    padding-top: 1vh;
    width:100%;
    display: block;
    text-align: center;
  }
  .header{
    background-color: #ededed !important;
    display: block;
    text-align: left;
  }
  .sessionname{
    display: block;
    text-align: center;
    font-family: "Helvetica";
    font-size: 1em;
    background-color: #ffffff;
  }
  .knowbotlogo{
    background-color: #ededed;
    width: 10%;
    height: auto;
    margin-right: 5vw;
  }
  .clock-img{
    background-color: #ededed;
    height: 1.5em;
    text-align: left;
    padding-bottom: 0.5vh;
  }

  .ellipsisbutton{
    padding-top: 0.5vh;
    height: auto;
    background-color:#ededed;
    border: 0;
    position: relative;
    padding-right: 0.5vh;
  }
  .ellipsisbutton:hover{
    background-color:#ededed;
  }
  .kwykheader{
    background-color: #ededed;
    position: relative;

  }

}
