.stats-area{
  background-color: #E3F0D9;
  height: 85vh;
}

.score{
  background-color: #E3F0D9;
}

.green{
  background-color: #7bc143;
}

.score{
  background-color: #ffffff;
  width: 75%;
  margin: 1vh;
  height: auto;
  vertical-align: middle;
  font-family: "Lucida Console", Monaco, monospace;
  border-radius: 20px;
}

.text{
  background-color: #7bc143;
  color: #ffffff;
  font-size: 1.3em;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 1vh;
}

.display-area{
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vw;
  background-color: #E3F0D9;
  padding-left: 1vw;
  padding-right: 1vw;
}

.left{
  display: block;
  text-align: left;
}

.right{
  display: block;
  text-align: right;
}

.center{
  display: block;
  text-align: center;
}

.retry-button{
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  font-size: 1.2em;
  padding: 1vh;
  color: #7bc143;
  font-family: "Lucida Console", Monaco, monospace;
  border: 10px;

}

.button-area{
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: #E3F0D9;
  height: 8vh;
}

.tab-color{
  background-color: #F6E262;
  width: 100%;
}

.topic-select{
  background-color: #7bc143;
  padding: 1vh;
  height: 100%;
  font-size: 1.2em;
  color: #ffffff;
  border-radius: 1px;
  border-color: #7bc143;
  font-family: "Lucida Console", Monaco, monospace;
}

.topic-label{
  background-color: #7bc143;
  padding: 1vh;
  color: #ffffff;
  font-size: 1.2em;
  font-family: "Lucida Console", Monaco, monospace;
}

.lightgreen{
  background-color: #E3F0D9;
}

.topic-name{
  background-color: #E3F0D9;
  font-size: 1.2em;
  font-family: "Lucida Console", Monaco, monospace;
  color: #7bc143;
  font-weight: bold;
}

.word{
  background-color: #ffffff;
  font-family: "Lucida Console", Monaco, monospace;
  color: #7bc143;
}

.responses-area{
  width: 100%;
  height: 75vh;
  background-color: #E3F0D9;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1vh;
}

.word-response{
  padding-top: 1vh;
  background-color: #E3F0D9;
}

.bottom-area{
  background-color: #E3F0D9;
  height: 5vh;
}

.title-label{
  background-color: #ffffff;
  font-family: "Lucida Console", Monaco, monospace;
}

.padding-right{
  padding-right: 2vh;
}

.explain-area{
  font-family: "Lucida Console", Monaco, monospace;
  padding: 1vh;
  background-color: #E3F0D9;
  margin-right: 1vh;
}

.explain-text{
  background-color: #ffffff;
  padding: 2vh;
}
