
@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica.ttf');
}

.stats-area{
  background-color: #ede2d5;
  height: 85vh;
}

.score{
  background-color: #ede2d5;
}

.grey{
  background-color: #959595;
}

.score{
  background-color: #ffffff;
  width: 75%;
  margin: 1vh;
  height: auto;
  vertical-align: middle;
  font-family: "Helvetica";
  border-radius: 20px;
}


.display-area{
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vw;
  background-color: #ede2d5;
  padding-left: 1vw;
  padding-right: 1vw;
}

.left{
  display: block;
  text-align: left;
}

.right{
  display: block;
  text-align: right;
}

.center{
  display: block;
  text-align: center;
}

.retry-button{
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  font-size: 1.2em;
  padding: 1vh;
  color: #959595;
  font-family: "Helvetica";
  border: 10px;

}

.button-area{
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: #ede2d5;
  height: 8vh;
}

.tab-color{
  background-color: #ffffff;
  width: 100%;
}
.darkgrey{
  background-color: #959595;
}

.topic-select{
  background-color: #959595;
  padding: 1vh;
  height: 100%;
  font-size: 1.2em;
  color: #ffffff;
  border-radius: 1px;
  border-color: #959595;
  font-family: "Helvetica";
}

.topic-label{
  margin-left: 0;
  background-color: #959595;
  color: #ffffff;
  font-size: 1.2em;
  font-family: "Helvetica";
  padding-left: 2vw;
}

.topic-text{
  background-color: #959595;
  padding: 1vh;
  color: #ffffff;
  font-size: 1.3em;
  font-family: "Helvetica";
  width: 100%;
  margin-left: 0%;
}
.stat-text{
  background-color: #959595;
  padding: 1vh;
  color: #ffffff;
  font-size: 1.3em;
  font-family: "Helvetica";
  width: 100%;
  margin-left: 0%;
}

.text{
  background-color: #ede2d5;
  color: #ffffff;
  font-family: "Helvetica";
  font-size: 1.3em;
}

.lightgreen{
  background-color: #ede2d5;
}
.white{
  background-color: #ffffff !important;
}

.topicname{
  margin-left: 0;
  background-color: #ede2d5;
  font-size: 1.2em;
  font-family: "Helvetica";
  color: #000000;
  font-weight: bold;
  padding-top: 2vh;
  display: block;
  text-align: left;
}

.word{
  background-color: #ffffff;
  font-family: "Helvetica";
  color: #959595;
}

.responses-area{
  width: 100%;
  height: 65vh;
  background-color: #ede2d5 !important;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1vh;
}

.explanation-area{
  width: 100%;
  height: 70vh;
  background-color: #ffffff !important;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1vh;
}

.word-response{
  padding-top: 1vh;
  background-color: #ede2d5;
  margin-right: 2vw;
}

.bottom-area{
  background-color: #ede2d5;
  height: 5vh;
}

.titlelabel{
  background-color: #ffffff;
  color: black;
  font-family: "Helvetica";
  padding-top: 2vh;
  padding-bottom: 1vh;
}

.padding-right{
  padding-right: 2vh;
}

.explain-area{
  font-family: "Helvetica";
  padding: 1vh;
  background-color: #ede2d5;
  margin-right: 1vh;
}

.explain-text{
  background-color: #ffffff;
  padding: 2vh;
}

.view-div{
  margin-top: 1vh;
  margin-right: 1vh;
  margin-left: 3vh;
  margin-bottom: 1vh;
  text-align: left;
  height: 5vh;
  background-color: #ede2d5 !important;
  padding-right: 5vw;
  font-size: 1.2em;
}

.insightsview{
  border-top: 5px solid black;
  border-width: thin;
  background-color: #ede2d5 !important;
}
.view-select{
  background-color: #ede2d5;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0.8em;
  color: 0;
  font-family: "Helvetica";
  margin-left: 2vw;
  border-radius: 10px;
  border-color: #959595;
}

.chatcolor{
  background-color: #ede2d5;
}

@media (min-width: 768px){
  .stat-text{
    background-color: #959595;
    padding: 1vh;
    color: #ffffff;
    font-size: 1.3em;
    font-family: "Helvetica";
    width: 100%;
    padding-left: 5vw;
  }
}
